@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

#heading{
    background-color:rgb(65, 193, 65);
}

.rubik-scribble-regular {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
  }
.img{
    padding-right: 40px;

}  